# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
example-net

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*debug*

# Dependency directories (remove the comment below to include it)
# vendor/
